body {
    background: #78bee7;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: "Arial", sans-serif;
  }
  
  
  .inner {
    background: rgb(86, 94, 207);
    padding: 1em;
    border-radius: 10px;
    width: 280px;
    clip-path: circle(10% at 90% 13%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  
    &:hover {
      clip-path: circle(75%);
      background: #d330c8;
    }
  
    span {
      float: right;
      color: white;
      font-weight: bold;
      transition: color 0.5s;
      position: relative;
      margin-right: 4%;
    }
  
    &:hover span {
      color: rgba(255, 255, 255, 0);
    }
  
    h1 {
      color: white;
      margin-left: 10%;
    }
  
    p {
      color: white;
      font-size: 0.8rem;
    }
  }
  